* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", Courier, monospace;
}

nav {
    width: 100%;
    background-color: #c6182c;
    height: 70px;
    padding: 1% 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

nav .items {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

nav .items a {
    font-weight: 700;
    text-decoration: none;
    color: black;
    border: 2px solid #c6182c;
    padding: 5px;
    transition: all ease-in-out 0.25s;
    
}

nav .items a:hover {
    text-decoration: line-through;
    border: 2px solid black;
}

.item {
    border: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(128, 38, 38);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.item h1{
    margin-bottom: 50px;


}
.about button,
.item button {
    
    width: 20%;
    height: 50px;
    background-color: ;
    border: 5px;
    color: orangered ;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    transition: all case-in=ease-in-out 0.25;
    

}

.item button:hover{
    background-color: azure;
    transform: translateY(-5px)  scale(1.01);
    color: black;
    cursor : pointer

}


.about{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c6182c;
    
}


.about h1{
    margin-bottom: 50px;
    font-size: 150px;

}


.about p{
    width: 70%;
    line-height: 3vh ;
    text-align: center;
    font-size: 200  px;

    

}

.about button :hover{
    transform: translateY(-5px)  scale(1,01);
    background-color: #c6182c;
    border: 5px solid black;
}


.projects {
    width: 100%;
    height: 170vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c41d1d;
    color: white;
}
.projects .title {
    margin: 5% 0%;
    font-size: 90px;    
}
.projects .items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projects .items .row {
    width: 100%;
    height: 49%;
    display: flex;
    justify-content: space-evenly;
}
.projects .items .row .item {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border: 3px solid #dedede;
    padding: 3%;
    transition: 0.25s ease-in-out all;
}

.projects .items .row .item h1 {
    font-size: 20px;
}

.projects .items .row .item:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(254, 154, 154);
    transform: translateY(-3px) scale(1.01);
    font-weight: 900;
}


.contact {
    width: 100%;
    height: 120vh;
    background-color: white;
    color: #c6182c;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h1 {
    margin: 5% 0%;
    font-size: 80px;
}

.contact .items {
    width: 100%;
    height: 65%;

    border-radius: 25px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact .items .inputs {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contact .items .inputs button,
.contact .items .inputs a {
    width: 70%;
    height: 8%;
    font-size: 20px;
    padding-left: 10px;
    background-color: rgb(240, 66, 66);
    color: #dedede;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;

}

.contact .items .inputs textarea {
    height: 45%;
}

.contact .items .inputs button {
    width: 30%;
    font-size: 20px;
    background-color: white;
    border: 3px solid rgb(239, 77, 77);
    padding: 1% 0%;
    font-family: "Courier New", Courier, monospace;
    transition: all ease-in-out 0.25s;
}

.contact .items .inputs a:hover {
    cursor: pointer;
    transform: translateY(-3px) scale(1.01);
    background-color: rgb(253, 60, 60);
    border: 3px solid rgb(255, 33, 33);
    color: white;
}

.contact .items .info {
    width: 45%;
    padding-top: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .items .info iframe {
    width: 75%;
    height: 45%;
    border: none;
}

.contact .items .info .icons {
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
}

.contact .items .info .icons i {
    font-weight: 900;
}

.contact .items .info .more {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.contact .items .info .more h1 {
    font-size: 20px;
    margin: 0;
}
